@media (prefers-color-scheme: dark) {
    .navbar {
        background: #1e1e1e;
        box-shadow: 0px 1px 10px #000000;
    }
    .content {color: #fff}
    body {background: #1e1e1e}
    .menu a:hover:not(.active){
        color: #7712a6;
        transition: 0.3s;
    }
    .active{background-color: #7712a6}
    .menu a{color: #f2f2f2}
    .footer{
        color:#ffffff;
        background-color:#000000;
    }
    ::-webkit-scrollbar-track {background: #202020}
    accent {color: #7712a6}
    #l_dis {filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(132deg) brightness(101%) contrast(101%)}
    #dis {color: #ffffff}
    #l_twi {filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(132deg) brightness(101%) contrast(101%)}
    #twi {color: #ffffff}
    #l_ins {filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(132deg) brightness(101%) contrast(101%)}
    #ins {color: #ffffff}
    #l_ttv {filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(132deg) brightness(101%) contrast(101%)}
    #ttv {color: #ffffff}
    #l_ytb {filter: invert(100%) sepia(1%) saturate(0%) hue-rotate(132deg) brightness(101%) contrast(101%)}
    #ytb {color: #ffffff}
}

@media (prefers-color-scheme: light) {
    .navbar {
        background: #f2f2f2;
        box-shadow: 0px 1px 10px #808080;
    }
    .content {color: #000}
    body {background: #f2f2f2}
    .menu a:hover:not(.active){
        color: #a602f2;
        transition: 0.3s;
    }
    .menu a{color: #1e1e1e}
    .active{background-color: #a602f2}
    .footer{
        color:#000000;
        background-color: #ffffff;
    }
    ::-webkit-scrollbar-track {background: #b5b5b5}
    accent {color: #a602f2}
}

@font-face {
    font-family: quantum;
    src: url("Quantum.otf") format("opentype");
}

.header {
    text-align: center;
    padding: 0px;
    display: block;
}

.navbar {
    height: 60px;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}

body {
    margin: 0px;
    /*overflow: hidden;*/
}

html {
    padding: 0px;
    font-family: Oswald;
    font-weight: 700;
}

.menu {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
}

.menu a {
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    padding: 20px;
    font-size: 20px;
    transition: 0.3s;
}

.active {
    border-radius: 0px 0px 5px 5px;
    transition: 0.3s;
}

.active:hover {
    border-radius: 0px 0px 10px 10px;
    transition: 0.3s;
}

.logo {
    display: inline;
    float: left;
    font-size: 25px;
    font-weight: 700;
    padding: 14px 16px;
}

php {
    display: inline-block;
    color: inherit;
}

.footer {
    font-weight: 400;
    display: inline-block;
    width: 100%;
    bottom: 0px;
    top: 50%;
}

.legal p {
    margin: 10px 30px 10px 30px;
}

strong {
    font-weight: 600;
}

::-webkit-scrollbar {
    position: absolute;
    z-index: 1;
    width: 8px;
    overflow: overlay;
    display: block;
}

::-webkit-scrollbar-track {
    opacity: 0;
    transition: 0.3s;
}

::-webkit-scrollbar-track:hover {
    opacity: 1;
    transition: 0.3s;
}

::-webkit-scrollbar-thumb {
    background: #A0A0A0;
    opacity: 0;
    transition: 0.3s;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 1;
    transition: 0.3s;
}

a {
    color: inherit;
    text-decoration: inherit;
}

accent {
    font-weight: 700;
}

.info {
    font-size: 20px;
    font-weight: 300;
    position: relative;
    display: inline-block;
}

.socials {
    display: inline-block;
    position: relative;
    margin: 20px 70px 50px 700px;
}

.presentation {
    display: inline-block;
    position: relative;
    margin: 20px 70px 50px 70px;
}

#dis {
    transition: 0.3s;
}

#dis:hover {
    color: #7289DA;
    transition: 0.3s;
}

#twi {
    transition: 0.3s;
}

#twi:hover {
    color: #1DA1F2;
    transition: 0.3s;
}

#ins {
    transition: 0.3s;
}

#ins:hover {
    color: #E1306C;
    transition: 0.3s;
}

#ttv {
    transition: 0.3s;
}

#ttv:hover {
    color: #9146FF;
    transition: 0.3s;
}

#ytb {
    transition: 0.3s;
}

#ytb:hover {
    color: #FF0000;
    transition: 0.3s;
}

.team_pannel {
    display: inline-block;
    position: relative;
    z-index: 1;
    margin: 20px 0% 50px 10%;
    width: 20%;
    filter: grayscale(1) drop-shadow(5px 5px 10px #000);
    transition: 0.3s;
}

.team_name {
    position: absolute;
    text-align: center;
    font-variant: small-caps;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    filter: drop-shadow(0px 0px 5px #000);
    color: #fff;
    transition: 0.3s;
}

.team_game {
    position: absolute;
    text-align: center;
    font-variant: small-caps;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    filter: invert(94%) sepia(94%) saturate(25%) hue-rotate(359deg) brightness(105%) contrast(106%) drop-shadow(0px 0px 10px #000);
    color: #fff;
    transition: 0.3s;
}

.team_member {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    opacity: 0;
    font-weight: 400;
    filter: drop-shadow(0px 0px 5px #000);
    transition: 0.3s;
}

.team_pannel:hover {
    transform: scale(1.1);
    filter: grayscale(0);
    transition: 0.3s;
}

.team_pannel:hover > .team_member {
    opacity: 1;
    top: 70%;
    transition: 0.3s;
}

.team_pannel:hover > .team_name {
    top: 40%;
    transition: 0.3s;
}

.team_pannel:hover > .team_game {
    top: 50%;
    transition: 0.3s;
}